.sidebar {
    width: 150px;
    height: 668px;
    position: fixed;
    background-color: rgb(66, 62, 62);
}

.sideOptions {
    display: flex;
    flex-direction: column;
}

.sideTag {
    text-decoration: none;
    color: azure;
    font-weight: 200;
    padding-top: 50px;
    padding-left: 30px;
}

#logOut {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    position: absolute;
    bottom: 0%;
    width: 100%;
}