.card {
    /*background-color: fuchsia;  */
    /*background-color: rgb(134, 212, 245);*/
    background-color: cyan;
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    color: black;
}

.mPara {
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: aliceblue;
}